
.sliderForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: max-content;
    margin-top: 10%;
    padding: 2% 2%;
    border-radius: 20px;
    width: 20%;
    background: linear-gradient(145deg, #2C2C2C 0%, rgba(44, 44, 44, 0.00) 100%);
}
.sliderForm h3 {
    font-size: 2vw;
    width: 100%;
    margin-bottom: 10%;
    text-align: center;
    color: #fff;
}
.sliderForm input {
    color: #fff;
    border-radius: 27px;
    background: #292929;
    padding: 5% 10%;
    border: none;
}
.sliderForm input:not(input[type="name"]),.sliderForm button {
    margin-top: 4%;
}
.sliderForm button {
    font-weight: bold;
    font-size: 1.2vw;
    border-radius: 27px;
    background: var(--orange, #FFCA18);
    padding: 5% 10%;
    border: none;
    cursor: pointer;
    transition: all .3s;
}
.sliderForm button:hover {
    scale: 1.1;
}
.mainContainerForm {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 100px;
    border-radius: 30px;
    padding: 2% 5%;
    height: 20vw;
    min-height: max-content;
    max-height: 300px;
    background: var(--orange, #FFCA18);
}
.mainContainerForm form {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 45%;
    height: 100%;
    margin-bottom: 2%;
}
.mainContainerForm form div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}
.mainContainerForm form h3 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3vw;
}
.mainContainerForm form p {
    font-weight: 400;
    font-size: 1.3vw;
    width: 100%;
    margin-bottom: 5%;
}
.mainContainerForm form input {
    border: none;
    padding: 2% 5%;
    width: 38%;
    border-radius: 40px;
    background: #FFF;
}
.mainContainerForm form button {
    width: 100%;
    border: none;
    padding: 2% 5%;
    border-radius: 40px;
    background: #FFF;
    font-weight: 600;
    margin-top: 2%;
    cursor: pointer;
    font-size: 1.4vw;
    transition: all .3s;
}
.mainContainerForm button:hover {
    scale: 1.1;
}
.mainContainerForm form h3, .mainContainerForm form p {
    text-align: center;
    width: 100%;
}
.imgContainer {
    position: relative;
    width: 25%;
    height: 80%;
}
.imgContainer img {
    object-fit: contain;
}

@media screen and (max-width: 498px) {
    .mainContainerForm {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 60px !important;
        border-radius: 30px;
        padding: 2% 5%;
        height: max-content;
        min-height: max-content;
        max-height: 300px;
        background: var(--orange, #FFCA18);
    }
    .imgContainer {
       display: none;
    }
    .mainContainerForm form {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        margin-bottom: 2%;
    }
    .mainContainerForm form input {
        border: none;
        padding: 4% 5%;
        width: 90%;
        border-radius: 40px;
        background: #FFF;
        font-size: 3.6vw;
    }
    .mainContainerForm form input:last-child {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .mainContainerForm form p {
        font-weight: 400;
        font-size: 3.3vw;
        width: 100%;
        margin-bottom: 5%;
    }
    .mainContainerForm form div {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;
    }
    .mainContainerForm form h3 {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 5vw;
    }
    .mainContainerForm form button {
        width: 100%;
        border: none;
        padding: 4% 5%;
        border-radius: 40px;
        background: #FFF;
        font-weight: 600;
        margin-top: 2%;
        cursor: pointer;
        font-size: 3.4vw;
        transition: all .3s;
    }
    .sliderForm {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: max-content;
        margin-top: 10%;
        padding: 2% 2%;
        border-radius: 20px;
        width: 92%;
        background: linear-gradient(145deg, #2C2C2C 0%, rgba(44, 44, 44, 0.00) 100%);
        margin: auto;
    }
    .sliderForm h3 {
        font-size: 6vw;
        width: 100%;
        margin-bottom: 7%;
        text-align: center;
        color: #fff;
        margin-top: 7%;
    }

    .sliderForm button {
        font-weight: bold;
        font-size: 4.2vw;
        border-radius: 27px;
        background: var(--orange, #FFCA18);
        padding: 5% 10%;
        border: none;
        transition: all .3s;
    }
}

@media screen and (min-width: 1500px) {
    .sliderForm h3 {
        font-size: 30px;
    }
    .sliderForm button, .sliderForm input {
        font-size: 20px;
    }
    .mainContainerForm form h3 {
        font-size: 40px;
    }
    .mainContainerForm form p {
        font-size: 20px;
    }
    .mainContainerForm form input {
        font-size: 20px;
    }
    .mainContainerForm form button {
        font-size: 20px;
    }
}
